/* ROOT */

:root {
    --blue-color: #0084fd;
    --lightpurple-color: #9792e4;
    --white-color: #ffffff;
    --black-color: #000000;
    --lightblue-color: #b5ddff;
    --grey-color: #5a6e7f;
    --yellow-color: #fdc15f;
    --darkgrey-color: #222222;
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

/* UTILITY */

.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}


.center-flex{
    justify-content: center;
    align-items: center;
}

.space-between{
    justify-content: space-between;
}

.p-t-b-20{
    padding: 1.25em 0;
}

.p-t-20{
    padding-top: 20px;
}

.mi-auto{
    margin: 0 auto;
}

.col {
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    padding: 1.25em 2.1875em 0 2.1875em;
}

.button {
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--black-color);
}

/* HEADER */

header {
    background-color: var(--blue-color);
}

.logo img{
    display: block;
}

.hamburger-menu a{
    line-height: 40px;
    font-size: 2rem;
    color: var(--white-color);
}

.navbar{
    display: none;
}

.anchor-list{
    gap: 30px;
}

.anchor-list li {
    list-style-type: none;
    line-height: 40px;
}

.anchor-list li a{
    text-decoration: none;
    color: var(--white-color);
}

.anchor-list li .button {
    text-decoration: none;
    color: var(--black-color);
}

/* HERO */

.hero{
    background-color: #fff;
    padding: 30px 0 50px;
    flex-direction: column;
}

.hero .col {
    background-color: var(--lightblue-color);
}

.hero .col button{
    width: 60%;
    border: none;
}

.title-card{
    font-size: 1.5rem;
    color: var(--blue-color);
}

.desc-card {
    line-height: 1.875em;
    font-weight: 600;
    color: var(--grey-color);
}

.fw600{
    font-weight: 600;
}

.tac{
    text-align: center;
}

.icon{
    font-size: 4rem;
    display: inline;
    color: var(--blue-color);
}

/* MAIN */

/* STRATEGIC PLANNING */

.planning{
    background-color: var(--lightpurple-color);
    padding: 50px 0;
}

.title-strategic{
    margin: 1.5em 0;
    font-size: 2.5rem;
    color: var(--white-color);
}

.desc-strategic{
    line-height: 1.875em;
    color: var(--white-color);
}

.planning .col{
    background-color: white;
        margin-top: 40px;
        border-radius: 60px;
}

.title-planning-dev {
    font-size: 1.5rem;
    padding: 30px 0;
}

.desc-planning-dev{
    font-style: italic;
}

.arrow-down{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 30px 0;
    background-color: var(--lightpurple-color);
}

.col .arrow-down .fa-arrow-down{
    line-height: 50px;
    font-size: 1.5rem;
}

/* TESTIMONIALS */

.testimonials {
    padding: 50px 0;
}

.testimonials h4{
    font-weight: 400;
}

.testimonials h2 {
    font-size: 2.5rem;
    color: var(--lightpurple-color);
    margin: 30px 0;
}

.testimonials p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.testimonials .col{
    background-color: var(--lightpurple-color);
}

figure{
    padding-bottom: 20px;
}

.testimonials .image-profile img{
    max-width: 200px;
    min-height: 200px;
    margin-inline: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.name-test{
    font-weight: 600;
    color: var(--white-color);
    padding-bottom: 20px;
}

.quote{
    font-size: 1.2rem;
    color: var(--white-color);
    padding-bottom: 20px;
}

.quote::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: 1.5rem;
    color: var(--white-color);
}

.quote::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10e";
    font-size: 1.5rem;
    color: var(--white-color);
}

/* BENEFITS */

.benefits{
    background-color: var(--lightpurple-color);
    padding: 50px 0;
}

.benefits .col {
    background-color: var(--white-color);
}

.benefits h2 {
    color: var(--white-color);
    margin-bottom: 30px;
}

.benefits h3{
    color: var(--lightpurple-color);
    font-size: 3rem;
}

.benefits h4{
    color: var(--lightpurple-color);
    font-size: 1.5rem;
}

.benefits  .button {
    background-color: var(--lightpurple-color);
    color: white;
}

.benefits p {
    line-height: 1.5rem;
    color: var(--grey-color);
}

.benefits .container-btn{
    margin: 30px 0;
}

.benefits

/* ABOUT-US */

.about-us{
    padding: 50px 0;
}

.about-us h2{
    padding-top: 30px;
    font-size: 3rem;
    color: var(--lightpurple-color);
}

.about-us p {
    line-height: 2rem;
    margin-bottom: 30px;
}

.about-us img{
    max-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    margin: 30px 0;
    object-fit: cover;
    object-position: center;
}

.about-us .image-container{
    position: relative;
}

.about-us .image-container::after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: 4rem;
    color: var(--lightpurple-color);
    top: 0;
    left: 40%;
}

.about-us section h3{
    font-size: 2rem;
    color: var(--lightpurple-color);
    margin-bottom: 30px;
}

.about-us .link-container {
    margin: 30px 0;
}

.about-us .link-container a {
    background-color: var(--lightpurple-color);
    color: var(--white-color);
}

/* CTA */

.cta{
    background-color: var(--lightpurple-color);
    padding: 50px 0;
    color: var(--white-color);
}

.cta section {
    gap: 40px;
}

.cta h4 {
    font-weight: 400;
    color: var(--grey-color);
}

.cta h3 {
    font-weight: 600;
    font-size: 2.5rem;
}

.cta h2 {
    font-weight: 600;
    font-size: 3rem;
    color: var(--yellow-color);
}

.cta p {
    line-height: 1.5rem;
}

.cta .link-container{
    width: 60%;
}

.cta .button {
    display: inline-block;
    padding: 20px;
    width: 100%;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--lightpurple-color);
}


/* FOOTER */

.footer {
    background-color: var(--darkgrey-color);
    height: 100%;
}

.footer .container p{
    padding: 30px 0;
    color: var(--white-color);
}