/* ROOT */

:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
    --blue-color: #0084fd;
    --lightpurple-color: #9792e4;
    --white-color: #ffffff;
    --black-color: #000000;
    --lightblue-color: #b5ddff;
    --grey-color: #5a6e7f;
    --yellow-color: #fdc15f;
    --darkgrey-color: #222222;
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    display: block;
}

p {
    line-height: 1.875em;
}

/* UTILITY */

.container {
    width: 90%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.tac {
    text-align: center;
}

.ptb30{
    padding: 1.875em 0;
}

.mtb30 {
    margin: 1.875em 0;
}

.ptb50 {
    padding: 3.125em 0;
}

.pt20 {
    padding-top: 1.25em;
}

.pb20{
    padding-bottom: 2rem;
}

.mi-auto {
    margin: 0 auto;
}

.col {
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 100%;
    padding: 2.1875em 2.1875em 0;
}

.button {
    background-color: var(--blue-color);
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--white-color);
}

.light-btn{
    background-color: var(--white-color);
}

.text-grey{
    color: var(--grey-color);
}

.text-black {
    color: var(--black-color);
}

.text-white {
    color: var(--white-color);
}

.text-blue {
    color: var(--blue-color);
}

.text-purple {
    color: var(--lightpurple-color);
}

.bgc-lightblue {
    background-color: var(--lightblue-color);
}

.bgc-blue {
    background-color: var(--blue-color);
}

.bgc-white {
    background-color: var(--white-color);
}

.bgc-purple {
    background-color: var(--lightpurple-color);
}

/* HEADER */

header > div {
    justify-content: space-between;
}

.logo img {
    display: block;
}

.hamburger-menu input {
    display: none;
}

.hamburger-menu label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    font-size: 3.2rem;
    line-height: 40px;
    color: var(--white-color);
}

.hamburger-menu input:checked + label::before {
    content: "\58";
}

.navbar {
    display: none;
}

.anchor-list {
    gap: 1.875em;
}

.anchor-list li {
    list-style-type: none;
    line-height: 2.5em;
}

.anchor-list li a {
    text-decoration: none;
}

/* HERO */

.hero .col a {
    padding-inline: 2.5em;
    border: none;
    font-weight: 600;
}

.title-card {
    font-size: 2.5rem;
}

.desc-card {
    font-weight: 600;
}

.icon {
    font-size: 6.5rem;
    display: inline;
}

/* MAIN */

/* STRATEGIC PLANNING */

.title-strategic {
    margin: 1.5em 0;
    font-size: 4rem;
}

.planning .col {
    margin-top: 40px;
    border-radius: 60px;
}

.title-planning-dev {
    font-size: 2.5rem;
}

.desc-planning-dev {
    font-style: italic;
}

.arrow-down {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.col .arrow-down .fa-arrow-down {
    line-height: 50px;
    font-size: 2.4rem;
}

/* TESTIMONIALS */

.testimonials h4 {
    font-weight: 400;
}

.testimonials h2 {
    font-size: 4rem;
}

.testimonials p {
    font-size: 1.8rem;
}

.testimonials .image-profile img {
    max-width: 200px;
    min-height: 200px;
    margin-inline: auto;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.name-test {
    font-weight: 600;
}

.quote {
    font-size: 1.8rem;
}

.quote::before, .quote::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    font-size: 2.5rem;
}

.quote::before {
    content: "\f10d";
}

.quote::after {
    content: "\f10e";
}

/* BENEFITS */

.benefits h3 {
    font-size: 5rem;
}

.benefits h4 {
    font-size: 2.5rem;
}

/* ABOUT-US */

.about-us h2 {
    font-size: 5rem;
}

.about-us img {
    max-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.about-us .image-container {
    position: relative;
}

.about-us .image-container::after {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: 4rem;
    color: var(--lightpurple-color);
    top: 0;
    left: 40%;
}

.about-us section h3 {
    font-size: 2rem;
}

/* CTA */

.cta section {
    gap: 40px;
}

.cta h4 {
    font-weight: 400;
}

.cta h3 {
    font-weight: 600;
    font-size: 4rem;
}

.cta h2 {
    font-weight: 600;
    font-size: 5rem;
    color: var(--yellow-color);
}

.cta .button {
    display: inline-block;
    padding: 1.5em 3em;
    width: 100%;
    border-radius: 40px;
    font-weight: 600;
    font-size: 1.8rem;
}

/* FOOTER */

.footer {
    background-color: var(--darkgrey-color);
}