/* Tablet e Desktop */

@media screen and (min-width: 768px) {

    /* hero */
    .hero .column {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .column .col {
        width: calc(100% / 3 - 10px);
    }

    .column .col:first-child {
        width: calc(100% / 3 * 2 - 10px);
    }

    /* testimonials */
    .testimonials .col {
        display: flex;
        align-items: center;
        padding-bottom: 1.25em;
    }

    .name-test,
    .quote {
        text-align: left;
    }

    .testimonials .col section {
        margin-left: 15px;
    }

    /* benefits */
    .benefits .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* about-us */
    .about-us .column {
        flex-direction: row;
    }

    .about-us .container>section {
        width: 50%;
    }

    .about-us .profile {
        width: 50%;
    }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {

    /* planning */
    .planning .col {
        width: 100%;
    }

    /* benefits */
    .benefits .container .col {
        width: calc(100% / 2 - 10px);
    }

    /* about-us */
    .about-us .card {
        margin-left: 30px;
    }

    .about-us .image-container::after {
        left: 50%;
    }
}

/* Desktop */

@media screen and (min-width: 992px) {

    /* general */
    .container {
        max-width: 1000px;
    }

    /* header */
    .hamburger-menu {
        display: none;
    }

    .navbar {
        display: flex;
    }

    /* hero */

    .hero .container .col:first-child{
        display: flex;
    }
    .desc-phone-container{
        width: 40%;
    }
    .phone-container{
        width: 60%;
        display: flex;
    }
    .hero .container .col div:last-child img{
        align-self: flex-end;
    }

    /* planning */
    .planning .container {
        max-width: 650px;
        flex-direction: row;
        align-items: end;
    }

    .planning .col {
        width: 50%;
        margin: 0;
    }

    /* benefits */
    .benefits .container .col {
        width: calc(100% / 3 - 10px);
    }

    /* about-us */
    .about-us .profile {
        padding-left: 2.5em;
    }
}